.flags-guessr-main {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 98vh;
  text-align: center;

  .flag {
    width: 30rem;
  }

  .options-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;

    button {
      width: 14rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .flags-guessr-main {
    .flag {
      width: 13.4rem;
    }

    .options-grid {
      button {
        width: 9rem;
        font-size: 1rem;
      }
    }
  }
}
